table {
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
  }
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
  }
}
